<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>sandeep</servlet-name>
  	<servlet-class>com.sandy.ServletContextDemo</servlet-class>
  </servlet>
  <context-param>
  	<param-name>names</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>username</param-name>
  	<param-value>system</param-value>
  </context-param>
  <context-param>  
	<param-name>password</param-name>  
	<param-value>oracle</param-value>  
  </context-param>
  <servlet-mapping>
  	<servlet-name>sandeep</servlet-name>
  	<url-pattern>/context</url-pattern>
  </servlet-mapping>
  
</web-app>