<web-app>  
  
<servlet>  
<servlet-name>s</servlet-name>  
<jsp-file>/index2.jsp</jsp-file>  
  
<init-param>  
<param-name>dname</param-name>  
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
</init-param>  
  
</servlet>  
  
<servlet-mapping>  
<servlet-name>s</servlet-name>  
<url-pattern>/index</url-pattern>  
</servlet-mapping>  
  
</web-app>  